<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497512590176-irg27evvem9vc931ine313aniqj2bvaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497512590176-irg27evvem9vc931ine313aniqj2bvaf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>497512590176-114b5bpiq5u8ffuvac5q216vvoniqhtk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB94dUYY9pXBlkTPbE69bdXfJ32i1z8dS4</string>
	<key>GCM_SENDER_ID</key>
	<string>497512590176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.in.sportistan.sportistanPartners</string>
	<key>PROJECT_ID</key>
	<string>isportistan</string>
	<key>STORAGE_BUCKET</key>
	<string>isportistan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497512590176:ios:9c7a8627f6e200b7960c05</string>
</dict>
</plist>